section {
  picture {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .stand_text {
    margin: 5rem 0;
    text-align: center;
    padding: 0 2rem;

    h2 {
      font-family: 'Fraunces', serif;
      font-size: 3rem;
      font-weight: 800;
      color: var(--Very-dark-desaturated-blue);
      margin-bottom: 1.5rem;
    }

    p {
      font-family: 'Barlow', sans-serif;
      font-size: 1.8rem;
      color: var(--Dark-grayish-blue);
      margin-bottom: 1.5rem;
    }

    a {
      position: relative;
      margin-bottom: 1.5rem;
      font-family: 'Fraunces', serif;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 800;
      text-decoration: none;
      color: var(--Very-dark-desaturated-blue);
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        background-color: var(--Soft-red);
        width: 100%;
        border-radius: 5px;
        height: 10px;
        opacity: 0.3;
        z-index: -1;
        transition: opacity 0.5s ease-in-out;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}
