header {
  background-image: url("../../assets/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 1.5rem;

  @media (min-width: 500px) {
    background-image: url("../../assets/desktop/image-header.jpg");
    background-size: cover;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
}
