:root {
  // Primary

  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: #fad400;
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  // Neutral

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

// .fraunces-<uniquifier> {
//   font-family: "Fraunces", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "SOFT" 0,
//     "WONK" 0;
// }

// .barlow-semibold {
//   font-family: "Barlow", sans-serif;
//   font-weight: 600;
//   font-style: normal;
// }

.systemGrid_Desktop {
  @media (min-width: 993px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
